Property Knowledge Indexer.json
{
  "name": "Wo Fie AI - Property Knowledge Indexer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2d1710d4-1a27-48ad-8992-fdcfa51fc2d3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "properties"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "e336f914-9f10-451e-ae03-759720c1f2c2",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "05s3hu90S5wd2Mn5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "property_vectors",
          "mode": "list",
          "cachedResultName": "property_vectors"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "954ab182-450f-4f98-9bf8-966baa1794d1",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "05s3hu90S5wd2Mn5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "property_name",
                "value": "={{ $('Get many rows').item.json.property_name }}"
              },
              {
                "name": "location",
                "value": "={{ $('Get many rows').item.json.location }}"
              },
              {
                "name": "price",
                "value": "={{ $('Get many rows').item.json.price }}"
              },
              {
                "name": "bedrooms",
                "value": "={{ $('Get many rows').item.json.bedrooms }}"
              },
              {
                "name": "status",
                "value": "={{ $('Get many rows').item.json.status }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        752,
        240
      ],
      "id": "ecdb3957-3ff9-4233-ae8a-507ad960619b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        560,
        240
      ],
      "id": "e440be71-e81e-4b79-8c7c-99f166434b9e",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "TgCyYxg3AyI2LCgz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6556d48c-0107-4696-9368-7d78460bea5e",
              "name": "text",
              "value": "=Property: {{$json.property_name}}  Location: {{$json.location}}  Type: {{$json.property_type}}  Bedrooms: {{$json.bedrooms}}  Bathrooms: {{$json.bathrooms}}  Price: {{$json.price}}  Status: {{$json.status}}  Description: {{$json.description}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "a9f616b3-052f-438b-8d80-4a990f57c7e5",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "eda91ceb-cd13-4d02-8162-8afdf655fcb2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f9896fef077982d1644a41d1f9c935b26aa7c476f46aabbfe91427e6e7fc308"
  },
  "nodeGroups": [],
  "id": "Tm1dY6yU4ctxn4aP",
  "tags": []
}